.entitiesWrapper {
  padding: 16px 0;
}

.entityImage {
  width: 80px;
  margin-left: -8px;
}

.entitiesInput {
  width: 210px !important;
}

.entitiesHeadingWrapper {
  display: flex;
}

.entitiesDropDown {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.entityFilterButton {
  padding: 0 8px;
}

.entityDivider {
  height: 30px !important;
}

.entityFilterRow {
  padding: 4px 0;
}
